fastapi
uvicorn[standard]
python-multipart
python-dotenv
bcrypt
groq
langchain==0.3.7
langchain-groq==0.2.1
langchain-core==0.3.15
langchain-community==0.3.5
langgraph==0.2.45
requests
beautifulsoup4
ddgs
scikit-learn
sentence-transformers
numpy
pypdf
PyJWT
google-auth
easyocr
Pillow
youtube-transcript-api
httpx